@model ExpressVoitures.Models.Modele

@{
    ViewData["Title"] = "Supprimer un modèle";
}

<h1>Supprimer un modèle</h1>

<h2>Êtes-vous sûr de vouloir supprimer ce modèle ?</h2>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Nom du modèle
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            Marque correspondant à ce modèle
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="boutonAction d-flex justify-content-center" /> |
        <a asp-action="Index">Retour à la liste des modèles</a>
    </form>
</div>
