@model ExpressVoitures.Models.Modele

@{
    ViewData["Title"] = "Détails du modèle";
}

<h1>Détails du modèle</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Nom du modèle
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            Marque correspondant à ce modèle
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editer le modèle</a> |
    <a asp-action="Index">Retour à la liste des modèles</a>
</div>
