@model ExpressVoitures.Models.Modele

@{
    ViewData["Title"] = "Editer un modèle";
}

<h1>Editer un modèle</h1>

<div class="row formDonnees">
    <div class="col-lg-5 mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger" aria-live="polite"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label">Nom du modèle</label>
                <input asp-for="Nom" class="form-control" required />
                <span asp-validation-for="Nom" class="text-danger" aria-live="polite"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMarque" class="control-label">Marque correspondant à ce modèle</label>
                <select asp-for="IdMarque" class="form-control" asp-items="ViewBag.IdMarque" required></select>
                <span asp-validation-for="IdMarque" class="text-danger" aria-live="polite"></span>
            </div>
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Sauvegarder" class="boutonAction" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des modèles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
