@model ExpressVoitures.Models.Vente

@{
    ViewData["Title"] = "Détails de la vente";
}

<h1>Détails de la vente</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Date de la vente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Voiture correspondant à la vente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voiture.CodeVin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editer la vente</a> |
    <a asp-action="Index">Retour à la liste des ventes</a>
</div>
