@model ExpressVoitures.Models.Reparation

@{
    ViewData["Title"] = "Supprimer une réparation";
}

<h1>Supprimer une réparation</h1>

<h2>Êtes-vous sûr de vouloir supprimer cette réparation ?</h2>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Nom de la réparation
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReparationEffectuee)
        </dd>
        <dt class = "col-sm-2">
            Prix de la réparation
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cout)
        </dd>
        <dt class = "col-sm-2">
            Voiture correspondant à cette réparation
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voiture.CodeVin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="boutonAction d-flex justify-content-center" /> |
        <a asp-action="Index">Retour à la liste des réparations</a>
    </form>
</div>
