@model ExpressVoitures.Models.Reparation

@{
    ViewData["Title"] = "Détails de la réparation";
}

<h1>Détails de la réparation</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Nom de la réparation
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReparationEffectuee)
        </dd>
        <dt class = "col-sm-2">
            Prix de la réparation
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cout)
        </dd>
        <dt class = "col-sm-2">
            Voiture correspondant à cette réparation
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voiture.CodeVin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editer la réparation</a> |
    <a asp-action="Index">Retour à la liste des réparations</a>
</div>
