@model ExpressVoitures.Models.Finition

@{
    ViewData["Title"] = "DeleteBlocked";
}

<h1>Suppression impossible</h1>

<div>
    <p class="alert alert-danger">Impossible de supprimer la finition <strong>@Model.Nom</strong> car des voitures y sont associées.</p>

    <p>Pour supprimer cette finition, vous devez d'abord supprimer les voitures qui l'utilisent.</p>

    <p><a asp-action="Index">Back to List</a>
</div>
