@model ExpressVoitures.Models.Marque

@{
    ViewData["Title"] = "Détails de la marque";
}

<h1>Détails de la marque</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Nom de la marque
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editer la marque</a> |
    <a asp-action="Index">Retour à la liste des marques</a>
</div>
