@{
    ViewData["Title"] = "Voiture ajoutée";
}

<div class="text-center pageInformative">

    <h1>Merci !</h1>

    <p class="information">
        Votre voiture a bien été publiée
    </p>

    <div class="text-center">
        <a asp-controller="Home" asp-action="Index" class="boutonAction">Retour à l'accueil</a>
    </div>

</div>
