@model ExpressVoitures.Models.Voiture

@{
    ViewData["Title"] = "Supprimer une voiture";
}

<h1>Supprimer une voiture</h1>

<div class="text-center information">
    <p>Êtes-vous sûr de vouloir supprimer cette voiture ?</p>

    <p class="nomVoiture">
        <strong>
            @Model.Annee
            @Model.Marque.Nom
            @Model.Modele.Nom
            @Model.Finition.Nom
        </strong>
    </p>
</div>
    
<form asp-action="Delete" class="text-center boutonFormulaire">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Supprimer" class="boutonAction" />
</form>

<div>
    <a asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
</div>
